input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin-right: 5px;
  }
  
  input[type="checkbox"]:checked {
    background-color: #3cb043;
    border-color: white;
    border-width: 3px;
  }